name: Autograding Tests
on:
  push:
  repository_dispatch:
permissions:
  checks: write
  actions: read
  contents: read
jobs:
  run-autograding-tests:
    runs-on: ubuntu-latest
    if: github.actor != 'github-classroom[bot]'
    steps:
    - name: Checkout code
      uses: actions/checkout@v4
    - name: Setup Java 21
      uses: actions/setup-java@v4
      with:
        distribution: 'corretto'
        java-version: '21'
    - name: checkProjectCompiles
      id: checkProjectCompiles
      uses: classroom-resources/autograding-command-grader@v1
      with:
        test-name: projectCompiles
        setup-command: ''
        command: gradle test --tests at.ac.hcw.AppTest.testClassCadastre_Constructor
        timeout: 1
        max-score: 1
    - name: Autograding Reporter
      uses: classroom-resources/autograding-grading-reporter@v1
      env:
        CHECKPROJECTCOMPILES_RESULTS: "${{steps.checkProjectCompiles.outputs.result}}"
      with:
        runners: checkProjectCompiles